.text {
    width: 100%;
    height: 345px;
    flex-flow: column;
    margin: auto;
    padding: 0 19px;
    justify-content: flex-start;
    .text__topic {
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        color: #FFFFFF;
    }
    .text__description {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        color: #F7F3F2;
    }
    .text__btn {
        background-color: #FF4E50;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        height: 40px;
    }
}
@media screen and (min-width: 600px) {
    .text {
        width: 470px;
        padding: 0;
        height: 600px;
        margin: auto;
        justify-content: center;
        .text__topic {
            margin: 0;
            margin-top: 153px;
            font-size: 52px;
            line-height: 63px;
        }
        .text__description {
            margin: 0;
            margin-top: 30px;
            font-size: 24px;
        }
        .text__btn {
            width: 225px;
            margin: auto;
            margin-top: 33px;
        }
    }
}