body {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    font-style: normal;
    header {
        background-image: url(/images/Mobile/Background.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
        .menu {
            align-items: center;
            padding-top: 20px;
            .nav {
                .btn-outline-light {
                    border: 2px solid white;
                }
                .btn-header {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFFFFF;
                    
                }
            }
            .text-header {
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;
                margin-top: 97px;
            }
        }
        @media screen and (min-width: 426px){
            .menu {
                padding-top: 40px;
                .nav {
                    order: 0;
                }
                .title {
                    order: -1;
                }
                .text-header {
                    margin: 0;
                }
            }
        }
    }
    @media screen and (min-width: 321px ){
        header {
            background-image: url('/images/Tablet/Background.png');
        }
        
    }
    @media screen and (min-width: 769px ){
        header {
            background-image: url('/images/Laptop/Background.png');
        } 
    }
    main {
        .container {
            padding: 0 10px;
        }
    }
}